
.wrapper{
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 0.37);
    padding: 20px;
    /* font-family: sans */
}

.row.rowSt{

    margin: 0;
    padding: 0
}



.jumbotron{
    background-color: rgb(212, 211, 211);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.jumbotron input{
    border-radius: 50px
}

.jumbotron:hover input{
    border: 1px solid rgb(170, 166, 162);
}


.row{
    margin: 20px auto;
    
}

.row.recents{
    margin-top: 0;
    margin-bottom: 2px
}

.breadcrumb{
    margin-top: 0;
    border-radius: 0
}

.recents .breadcrumb{
    margin-bottom: 3px
}

.recents p{
    margin-bottom: 0
}
.recents hr{
    margin: 3px
}




.breadcrumb.addLink{
    margin-bottom: 0
}

.addLink{
    cursor: pointer;
    border-bottom: 1px solid rgb(151, 150, 150)
}

.addLink span{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0
}






.cont{
    height: 100vh;
    overflow: auto;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
}





.alphabets{
    padding: 0;
    margin: 0
}
.letter{
    cursor: pointer;
}